<div class="uk-container uk-margin-left" uk-grid>
    <div class="uk-width-1-1@m uk-card uk-padding">
        <form #form="ngForm" (ngSubmit)="onSubmit()" class="uk-form-stacked">
            <fieldset class="uk-fieldset">
        
                <legend class="uk-legend">CHECKOUT</legend>
        
                <div class="uk-margin">
                    <label class="uk-form-label" for="fullName">Full Name</label>
                    <input 
                    id="fullName"
                    name="fullName"
                    required 
                    minlength="6" 
                    [(ngModel)]="fullName"
                    #individualFullName="ngModel" 
                    class="uk-input" type="text" 
                    placeholder="Full Name" 
                    aria-label="Input">
                </div>

                <div *ngIf="individualFullName.invalid && individualFullName.dirty"  class="uk-text-danger">
                    <div *ngIf="individualFullName.errors?.['required']">
                      Please provide your Full Name.
                    </div>
                    <div *ngIf="individualFullName.errors?.['minlength']">
                      Full Name should contain at least 6 characters.
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="fullName">Phone Number</label>
                    <input 
                    name="phoneNumber"
                    id="phoneNumber"
                    required 
                    minlength="6" 
                    [(ngModel)]="phoneNumber"
                    #individualPhoneNumber="ngModel" 
                    class="uk-input" type="text" 
                    placeholder="Phone Number" 
                    aria-label="Input">
                </div>

                <div *ngIf="individualPhoneNumber.invalid && individualPhoneNumber.dirty"  class="uk-text-danger">
                    <div *ngIf="individualPhoneNumber.errors?.['required']">
                      Please provide your Phone Number.
                    </div>
                    <div *ngIf="individualPhoneNumber.errors?.['minlength']">
                      Phone Number should contain at least 6 characters.
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="address">Address</label>
                    <input 
                    name="address"
                    id="address"
                    required 
                    minlength="6" 
                    [(ngModel)]="address"
                    #individualAddress="ngModel" 
                    class="uk-input" type="text" 
                    placeholder="Address" 
                    aria-label="Input">
                </div>

                <div *ngIf="individualAddress.invalid && individualAddress.dirty" class="uk-text-danger">
                    <div *ngIf="individualAddress.errors?.['required']">
                      <span>Please provide your Address.</span> 
                    </div>
                    <div *ngIf="individualAddress.errors?.['minlength']">
                      Address should contain at least 6 characters.
                    </div>
                </div>

                <div class="uk-width-1-4@s">
                    <label class="uk-form-label" for="cartTotal">Items</label>
                    <input 
                        id="cartItems" 
                        name="cartItems"
                        required  
                        [(ngModel)]="cartItems"
                        #individualCartItems="ngModel"
                        min="0"
                        class="uk-input" 
                        type="number" 
                        placeholder="{{cartItems | number}}" 
                        (ngModelChange)="onChange($event)">
                </div>

                <div *ngIf="individualCartItems.invalid && individualCartItems.dirty" class="uk-text-danger">
                    <div *ngIf="individualCartItems.errors?.['required']">
                      <span>Please provide your Address.</span> 
                    </div>
                    <div *ngIf="individualCartItems.errors?.['min']">
                      Value should not be less than 0.
                    </div>
                </div>

                <div class="uk-width-1-4@s">
                    <label class="uk-form-label" for="price">Total Price</label>
                    <input 
                        id="price" 
                        name="totalPrice"
                        required 
                        min="0" 
                        [(ngModel)]="totalPrice"
                        #individualTotalPrice="ngModel"
                        class="uk-input" 
                        type="text" 
                        placeholder="{{getTotalCost() | currency}}" 
                        disabled >
                </div>

                <div *ngIf="individualTotalPrice.invalid && individualTotalPrice.dirty" class="uk-text-danger">
                    <div *ngIf="individualTotalPrice.errors?.['required']">
                      <span>Please provide a value</span> 
                    </div>
                    <div *ngIf="individualTotalPrice.errors?.['min']">
                      Value should not be less than 0.
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="payment">Payment Details</label>
                    <input 
                    name="payment"
                    id="payment"
                    required 
                    min="0"
                    [(ngModel)]="payment"
                    #individualPayment="ngModel" 
                    class="uk-input" type="text" 
                    placeholder="Payment Details" 
                    aria-label="Input">
                </div>

                <div *ngIf="individualPayment.invalid && individualPayment.dirty" class="uk-text-danger">
                    <div *ngIf="individualPayment.errors?.['required']">
                      <span>Please provide a value</span> 
                    </div>
                    <div *ngIf="individualPayment.errors?.['min']">
                      Value should not be less than 0.
                    </div>
                </div>

                <div class="uk-margin">
                    <!-- <button [disabled]="form.invalid || cartTotal < 1" class="uk-button uk-button-primary" uk-toggle="target: #modal-close-default" type="submit">Order</button> -->
                    <button [disabled]="form.invalid || cartItems < 1" class="uk-button uk-button-primary" type="submit"><a class="uk-link-reset" routerLink="/confirm">Order</a></button>
                </div>


                <div *ngIf="cartItems <=0" class="uk-text-danger">
                   Cart is empty.
                </div>

                <div *ngIf="changing">
                    <span class="uk-text-primary">Cart is now {{cartItems}} items</span>  
                </div>                     
        
            </fieldset>
        </form>
        
    </div>
</div>

<!-- This is a button toggling the modal with the default close button
<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-close-default">Default</button> -->

<!-- This is the modal with the default close button -->
<div id="modal-close-default" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Success</h2>
        <p>Order Successful</p>
    </div>
</div>
