<nav class="uk-navbar-container uk-margin-medium-bottom">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-navbar-left">
                <a routerLink="cartlist" class="uk-navbar-item uk-logo" aria-label="Back to Home">
                    MY STORE 
                    <span class="uk-badge">{{countCart}}</span>
                    <span class="uk-badge">${{getTotalCost()}}</span>
                </a>

            </div>
            
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <!-- <li class="uk-active"><a href="#">LOGIN</a></li>
                    <li><a href="#">SIGN UP</a></li> -->
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/checkout">Checkout</a></li>
                </ul>

            </div>

        </div>
    </div>
</nav>

<div>
    <div *ngIf="getAlert() === true" class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close (click)="resetAlert()"></a>
        <p>Added to cart successfully</p>
    </div>
</div>

<div>
    <div *ngIf="getDeleteAlert() === true" class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close (click)="resetDeleteAlert()"></a>
        <p>Removed Item Successfully</p>
    </div>
</div>

